<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="psn.lxy.mms.DAO.PurchaseMapper">

    <insert id="insertPurchaseTable" parameterType="purchaseTable">
        insert into purchase_table (purchase_id, purchase_cycle, purchase_time, state)
        values (#{purchaseId} , #{purchaseCycle} , #{purchaseTime} , #{state})
    </insert>
    <insert id="insertPurchaseList">
        insert into purchase_list (purchase_id, material_name, number) VALUES
        <foreach collection="map" separator="," item="val" index="name">
            (#{id} , #{name} , #{val})
        </foreach>
    </insert>
    <insert id="insertPurchaseListByList">
        insert into purchase_list (purchase_id, material_name, number) VALUES
        <foreach collection="list" separator="," item="m">
            (#{id} , #{m.materialName} , #{m.inventory})
        </foreach>
    </insert>
    <update id="updatePurchaseState">
        update purchase_table set state = #{state} where purchase_id = #{id}
    </update>
    <delete id="deletePurchaseTableByBatch">
        delete from purchase_table where purchase_id in
        <foreach collection="ids" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>;
        delete from purchase_list where purchase_id in
        <foreach collection="ids" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>;
    </delete>
    <delete id="deletePurchaseTableById">
        delete from purchase_table where purchase_id = #{id};
        delete from purchase_list where purchase_id = #{id};
    </delete>
    <select id="getPurchaseTable" resultType="psn.lxy.mms.POJO.PurchaseTable">
        select * from purchase_table where purchase_id = #{id}
    </select>
    <select id="getPurchaseList" resultType="psn.lxy.mms.POJO.PurchaseList">
        select * from purchase_list where purchase_id = #{id}
    </select>
    <select id="getAllPurchaseTable" resultType="psn.lxy.mms.POJO.PurchaseTable">
        select * from purchase_table
    </select>
    <select id="getPurchaseTableByOrderId" resultType="psn.lxy.mms.POJO.PurchaseTable">
        select * from purchase_table where order_id = #{orderId}
    </select>
    <select id="getPurchaseTableByLike" resultType="psn.lxy.mms.POJO.PurchaseTable">
        select * from purchase_table where purchase_id like '%${keyword}%' or order_id like '%${keyword}%' or purchase_cycle like '%${keyword}%'
    </select>

</mapper>